* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Source Sans Pro", sans-serif;
}

/* ----- Common ----- */
a {
    text-decoration: none;
    color: #000;
}

:root {
    --primary-color: #108cff;
}

/* ----- scrollbar ----- */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 20px;
}

/* ----- bar-button ----- */
.bar-button {
    display: none;
    font-size: 2.5rem;
    margin-top: 10px;
    padding-bottom: 5px;
}

/* ----- main ----- */
.main {
    display: flex;
    height: 100vh;
}

/* ----- sidebar, chat-content ----- */

.sidebar,
.chat-content {
    padding: 15px;
}

/* ----- sidebar ----- */
.sidebar {
    width: 20%;
    height: 100vh;
    overflow: hidden;
    background-color: #f9f9f9;
}

.sidebar:hover {
    overflow: auto;
}

.sidebar .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 18%;
    background-color: #f9f9f9;
}

.sidebar .header a:hover {
    background-color: unset;
}

.sidebar .header .logo {
    width: 100%;
}

.sidebar .header .new_chat i {
    font-size: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.sidebar ul a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 10px;
    color: #666;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: #ddd;
    color: #333;
    transition: 0.5s;
}

.sidebar .subtitle {
    font-size: 2rem;
    font-weight: 900;
    color: #7f8c8d;
    padding: 5px 10px 0;
}

.sidebar .history {
    margin: 20% 0 40%;
}

.sidebar .account {
    position: absolute;
    width: 18%;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
}

.sidebar .account:hover {
    background-color: #ececec;
}

.sidebar .account img {
    width: 50px;
    border-radius: 50%;
}

.sidebar .account span {
    font-size: 1.6rem;
    font-weight: 600;
    color: #111;
}

/* ----- chat-content ----- */
.chat-content {
    position: absolute;
    right: 0;
    width: 80%;
    padding: 0 10%;
    background-color: #fff;
    height: 100vh;
    overflow: auto;
}

.chat-content .mobile_dtu_logo {
    display: none;
}

.chat-content .header {
    font-size: 3.5rem;
    font-weight: 800;
    color: #666;
    padding: 10px;
    text-align: center;
}

/* --- chat-list --- */
.chat-list {
    width: 80%;
    height: 75%;
    overflow: auto;
}

.chat-list .user,
.chat-list .bot {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    gap: 10px;
}

.chat-list img {
    width: 40px;
}

.chat-list span {
    text-align: justify;
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
    line-height: 1.4;
}

.chat-list .user {
    background-color: #efefef;
    border-radius: 10px;
}

/* ----- non ----- */
.non {
    height: 15%;
}

/* ----- chat-search ----- */
.chat-search {
    position: fixed;
    bottom: 2%;
    right: 10%;
    width: 60%;
}

.chat-search .search {
    position: relative;
    width: 100%;
    height: 50px;
    border: 0.5px solid #ccc;
    border-radius: 8px;
    padding: 20px 10px;
    font-size: 1.6rem;
    font-weight: 500;
}

.chat-search .search:focus {
    outline: 0.5px solid #1ae5be;
}

.search-btn {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 2rem;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
}

/* ----------- Sign in ----------- */

.logo_responsives {
    display: none;
}

.sign-in-up {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px 0;
}

.sign-in-up-box .logo {
    display: flex;
    justify-content: center;
}

.sign-in-up-box .logo img {
    width: 400px;
}

.sign-in-up-box .title {
    margin: 10px 0 5px;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;
    color: #222;
    text-align: center;
}

.sign-in-up-box .group p {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    color: #333;
}

.sign-in-up-box .group input {
    font-size: 1.4rem;
    width: 100%;
    margin: 5px 0 15px;
    padding: 15px 15px 15px 35px;
    background-color: #eee;
    border: unset;
    border-radius: 5px;
    color: #000;
}

.sign-in-up-box .group input::placeholder {
    color: #aaa;
}

.sign-in-up-box .group input:focus {
    outline: 1px solid #ddd;
    background-color: #fff;
}

.sign-in-up-box .group .password {
    margin-bottom: 6px;
}

.sign-in-up-box .group .box {
    position: relative;
}

.sign-in-up-box .group .box i {
    position: absolute;
    top: 19px;
    left: 10px;
    color: #999;
}

.sign-in-up-box .forgot-passowrd {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--primary-color);
}

/* --- Sign in button --- */
.sign-btn {
    display: block;
    margin: 8px 0;
    background-color: var(--primary-color);
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}

.guest-sign-in-btn {
    background-color: #aaa;
}

.sign-in-up-box .desc {
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
    line-height: 1.5;
}
.sign-link {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--primary-color);
}

.sign-in-up-box .create-account {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1.5;
    color: #222;
}

/* ----- forgot-password-out ----- */
.forgot-password-out {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    padding: 0 10px;
    margin: 20px 0;
    font-size: 1.8rem;
    font-weight: 600;
    color: #111;
}

.forgot-password-out:hover {
    padding: unset;
    transition: 1s ease-in-out;
}

/* ----------- user-management -----------*/
.user-management {
    padding: 10px;
}

.user-management .title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.4;
    color: #555;
    text-align: center;
}

.user-management .container table {
    font-size: 1.6rem;
}

.user-management .container table th,
.user-management .container table td {
    border: 1px solid #ccc;
    padding: 5px;
}

.user-management .container table th {
    white-space: nowrap;
}
